
.menu{
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(251,246,246);
    background: linear-gradient(180deg, rgba(251,246,246,1) 0%, rgba(242,174,122,1) 76%);
    color: #fff; 
    padding: 10px; 
    z-index: 100; 
}

.categorias{
    display: flex;
    gap: 15px;
    text-decoration: none;
    border: none;
}

.boton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover{
    background-color: #fad0c9;
}

.logo{
    font-family: 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    line-height: 1.9;

}
