/* 
.menu{
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(251,246,246);
    background: linear-gradient(180deg, rgba(251,246,246,1) 0%, rgba(242,174,122,1) 76%);
    color: #fff; 
    padding: 10px; 
    z-index: 100; 
}

.categorias{
    display: flex;
    gap: 10px;
    text-decoration: none;
    border: none;
}



.boton {
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  

  .boton.resaltado {
    background-color: #333;
    color: #fff;
  } */

.logo{
    max-width: 210px; 
}